 {% extends 'user/user_base.html' %}
{% load static %}
{% block content %}

 <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h3 class="title-single" style="margin-top: 150px; ">View Password</h3>
{#            <span class="color-text-a">Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas beatae possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed omnis inventore hic culpa.</span>#}
          </div>
        </div>

      </div>
    </div>
  </section>
   <table class="table table-bordered table-striped table-hover" style="width: 900px; margin-left: 50px;">

<th class="info" style="background-color: lightgreen;">Platform</th>
<th class="info" style="background-color: lightgreen;">password</th>
<th class="info" style="background-color: lightgreen;">Remove</th>



{% for dri in passw  %}

<tr>
    <td>{{ dri.platform}}</td>
{#    <td>#}
{#        {{ dri.Password}}</td>#}
       <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
     <td><input value="{{ dri.Password}}" id="myInput" >
         <button onclick="myFunction()">Copy text</button>
{#          <input type="hidden" name="id" value="{{ dri.id }}"><button type="submit">Send</button></td>#}

       </form>

<td><a href="remove?id={{ dri.id}}" class=" btn btn-danger">Remove</a></td>



</tr>

    {% endfor %}
</table>
<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>


{% endblock %}