 {% extends 'base1.html' %}
{% load static %}
{% block content %}

 <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h3 class="title-single" style="margin-top: 150px; ">View Password</h3>
{#            <span class="color-text-a">Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas beatae possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed omnis inventore hic culpa.</span>#}
          </div>
        </div>

      </div>
    </div>
  </section>
   <table class="table table-bordered table-striped table-hover" style="width: 900px; margin-left: 50px;">

<th class="info" style="background-color: lightgreen;">Platform</th>
<th class="info" style="background-color: lightgreen;">password</th>
   <th class="info" style="background-color: lightgreen;">Remone</th>




{% for dri in passw  %}

<tr>
    <td>{{ dri.platform}}</td>
{#    <td>{{ dri.Password}}</td>#}
<td><a href="remove?id={{ dri.id}}" class=" btn btn-danger">Remove</a></td>



</tr>

    {% endfor %}
</table>



{% endblock %}